.contact-label {
	max-width: 660px;
	margin-top: 5%;
}

.text1 {
	text-align: center;
	color: grey;
	margin-bottom: 40px;
}

input, textarea {
	margin-bottom: 30px;
	background-color: #f6f7f8;
	padding: 14px;
	font-size: 14px;
	color: #838383;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #b5c1c9;
	width: 100%;
}

.contact-form textarea {
	height: 130px;
}

input.button {
	display: inline-block;
	width: auto;
	background: url(../images/active-state.png) no-repeat;
	background-position: center bottom;
	color: #26b864;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 27px;
	border: 0;
}

.site-footer {
	margin-top: 120px;
	background-color: #26b864;
	color: white;
	padding: 25px 0;
}

.site-footer a {
	color: white;
}

.site-footer span {
	margin-top: 12px;
	display: block;
}

ul.social {
	text-align: right;
}

ul.social li {
	display: inline-block;
}

ul.social li a {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
}

input {
	margin-bottom: 20px !important;
}

input.button {
	margin: auto;
	margin-top: 20px;
	border: 1px solid #26b864;
	padding-bottom: 14px;
	transition-duration: 0.5s;
}

input.button:hover {
	background-color: #f6f7f8;
}

footer {
	height: 100px;
	margin-top: 50px;
	background-color: #26b864;
}

footer p, footer i {
	margin-top: 42px;
	color: #fff;
}

footer .social {
	text-align: right;
}

footer i {
	font-size: 20px !important;
	padding-right: 15px;
}