/*Body*/
body {
	max-width: 1600px;
}
/*Landing page*/
.landing {
	background-color: rgb(22,22,22);
	padding-left: 5%;
	margin-right: 0;
	width: 100%;
	height: 102px;
	position: fixed;
	z-index: 1;
	max-width: 1600px;
}
.footer {
	height: 102px;
	padding-right: 0px;
}
.logo {
	position: fixed;
	margin-left: -15px;
}
#logo {
	background-image: url(images/logo.jpg);
	background-color: #26b864;
	display: block;
	background-repeat: no-repeat;
    background-position: 30px center;
    height: 102px;
    width: 360px;
    float: left;
}
#logo h1  {
	margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 102px;
    display: block;
    padding-left: 160px;
}
#logo a {
	color: white;
}

/*Navigation*/
.navigation {
	font-size: 1.3em;
	padding-top: 35px;
	margin-right: 13%;
	float: right;
}
.navigation div {
	display: inline;	
	text-align: center;
    width: 40px;
}
.navigation a, .navigation a:focus, .navigation a:hover {
	color: white;
	background-color: rgb(22,22,22);
	padding: 0 20px 0 19px;
	height: 65px;
}
.navigation.active>a, .navigation.active>a:focus, .navigation.active>a:hover {
	background-color: rgb(22,22,22);
	background-image: url(images/active.jpg);
	background-repeat: no-repeat;
	background-position: center 28px;
	display: block;
	padding: 0 30px 0 19px;
}
.navigation_small {
	color: white;
	float: right;
	padding: 35px 6%;
	font-size: 1.6em;
}

.bx-wrapper {
	padding-top: 102px;
}

/*Sliders*/

#bx-pager  {
	height: 145px;
	background-color: rgb(22,22,22);
	margin-top: -60px;
}
#bx-pager img {
	width: 170px;
	height: 80px;
}
#bx-pager img:last-child {
	margin-right: 30px;
}
.front {
	text-align: center;
	padding-top: 30px;
}
element .style {
	overflow: visible;
	overflow-x: visible;
    overflow-y: visible;
}
.bx-wrapper .bx-viewport {
	border: none; 
	box-shadow: none;
	left: 0;
}

/*Banner*/
.banner-name {
	position: relative;
	float: right;
	margin-top: -250px;
	margin-right: 60px;
	display: block;
	width: 355px;
	height: 76px;
	background-color: white;
	z-index: 1;
}
.banner_name h2 {
	position: relative;
	font-size: 30px;
	font-family: "Open Sans", Arial, sans-serif;
}
h2 {
	margin-left: 10px;
}

/*Slider's buttons*/
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 88%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}
