/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#logo {
		width: 290px;
	}
	#logo h1 {
		padding-left: 120px;
	}
	.service-icon {
		width: 230px;
		height: 120px;
	}
}

/* 1042px */
@media only screen and (max-width : 1042px) {
	.navigation {
		display: none;
	}
/* 1032px */
@media only screen and (max-width : 1032px) {
	.last_image img  {
		margin-top: 30px;
	}
	#bx-pager  {
		height: 240px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.landing {
		padding-left: 0px;
	}
	.navigation a {
		display: none;
	}
	#bx-pager {
		display: none;
	}
	.banner-name {
		margin-top: -180px;
	}
	.caption2, .third, .fourth {
		margin-top: 150px;
		margin-bottom: 300px;
	}
	.section-label-1, .section-label-2 {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#logo a {
		display: none;
	}
	.banner-name {
		display: none;
	}
	.caption4, .second, .third, .fourth {
		margin-top: 150px;
		margin-bottom: 0;
	}
	.section-title {
	 	margin-top: 750px;
	 }
	.section-title-2 {
	 	margin-top: 0px;
	 }
	.item-small {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#logo {
		width: 47%;
	}
	.container {
    	padding-right: 15px;
    }
    .promo {
		margin-bottom: 0px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}