 /*Section 2*/
.products-label {
 	max-width: 720px;
 }
.section-title-2 {
 	text-align: center;
 	margin-bottom: 15%;
}
.item {
	margin-bottom: 3%;
}
.products {
	border-bottom: solid 1px #e1e6e9;
}
.products img {
	margin-bottom: 20px;
 	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
 }
 .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}
a:hover img {
	opacity: 0.3;
}
a:hover .middle {
	opacity: 1;
}
.text {
	background-color: rgb(38,184,100);
	color: white;
	font-size: 16px;
	padding: 16px 32px;
	text-align: center;
}
.price {
	color: grey;
}
 span {
 	color: rgb(38,184,100);
 }