/*Services*/
.service-item {
	margin-top: 70px;
	margin-bottom: 70px;
	max-width: 100%;
	height: 300px;
	text-align: center;
}
.service {
	max-width: 1500px;
	height: auto;
}
.service-icon {
	background-position: center;
	background-repeat: no-repeat;
	width: 250px;
	height: 150px;
	margin-right: 0px;
}
.service-icon:last-child {
	margin-right: 0;
}

.first {
	background-image: url(../images/service-first.png);
}
.second {
	background-image: url(../images/service-second.png);
}
.third {
	background-image: url(../images/service-third.png);
}
.fourth {
	background-image: url(../images/service-fourth.png);
}
.caption {
	margin-top: 150px;
	text-align: center;
}
.caption p {
	font-size: 14px;
	color: grey;
}

 /*Section*/
 .section-label {
 	max-width: 720px;
 }
 .section-title {
 	text-align: center;
 	margin-top: -25px;
 	margin-bottom: 15%;
 }
.section-label-1 {
  	background-image: url(images/before.jpg);
  	background-position: center center;
	background-repeat: no-repeat;
	width: 180px;
	height: 3px;
	display: block;
	margin-top: -6px;
}
.section-label-2 {
  	background-image: url(images/after.jpg);
  	background-position: center center;
	background-repeat: no-repeat;
	width: 180px;
	height: 3px;
	display: block;
	float: right;
	margin-top: -6px;
}

/*Promotion*/
.promo {
	margin-bottom: 100px;
}
.promo img {
  	width: 100%;
}
.item-small {
	padding: 20px;
	background-color: rgb(38,184,100);
}
.item-small h4 {
	padding-top: 10px;
	text-align: center;
	color: white;
	line-height: 24px;
}
.promo p {
	font-size: 14px;
	color: grey;
}

 .section-title-2 {
 	text-align: center;
 	margin-top: -25px;
 }

  	
  	

